@import "pages/variables";
@mixin sizes($width, $height){
    height: $height;
    width: $width;
}

/* Index */

/*Section 1 index*/
.section__one{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5%;
    margin-top: 5%;
    article{
        div{
            h1{
                font-weight: bold;
                font-size: 25px;
                color: $colorPpal;
            }
            p{
                width: 800px;
                word-spacing: 5px;
                text-align: justify;
                color: $colorSec;
                font-size: 20px;
                min-width: 360px;
            }
        }
        img{
            border-radius: 20px;
            @include sizes(600px, 600px);
            transition: all 1s;
            &:hover{
                @include sizes(700px, 700px)
            }
        }
    }
}


/*Parallax index*/
.parallax__index{
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../images/paulo/hqescenario.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include sizes(100%, 300px)
}


/*Section 2 index*/
.section__two{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5%;
    margin-top: 5%;
    article{
        div{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            h2{
                font-weight: bold;
                font-size: 25px;
                color: $colorPpal;
            }
            p{
                word-spacing: 5px;
                text-align: justify;
                color: $colorSec;
                font-size: 20px;
                width: 800px;
                min-width: 360px;
            }
        }
    }
    div{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        img{
            border-radius: 10px;
            margin-top: 5px;
            @include sizes(800px, 500px)
        }
    }
}


/* Responsive */

/* 360px index */
@media only screen and (max-width:360px){
    .section__one{
        flex-direction: column;
        max-width: 100%;
        margin-bottom: 20%;
        margin-top: 100px;
        article{
            div{
                h1{
                    margin-left: 10px;
                }
                p{
                    width: 100%;
                    padding: 10px;
                }
            }
            img{
                max-width: 100%;
                max-height: 450px;
                padding: 10px;
                pointer-events: none
            }
        }
    }
    

    .parallax__index{
        max-width: 100%;
        max-height: 200px;
    }

    .section__two{
        flex-direction: column;
        margin-bottom: 10%;
        margin-top: 20%;
        max-width: 100%;
        article{
            div{
                h2{
                    margin-left: 10px;
                }
                p{
                    padding: 10px;
                    width: 100%;
                }
            }
        }
        div{
            max-width: 100%;
            iframe{
                max-width: 100%;
                max-height: 80px;
            }
            img{
                max-height: 300px;
                max-width: 100%;
                padding: 10px;
                border-radius: 20px;
            }
        }
    }


}



/* 768px index */
@media only screen and (min-width:361px) and (max-width:768px){
    .section__one{
        flex-direction: column;
        max-width: 100%;
        margin-top: 20%;
        margin-bottom: 20%;
        article{
            div{
                h1{
                    margin-left: 10px;
                }
                p{
                    width: 100%;
                    padding: 10px;
                }
            }
            img{
                max-width: 100%;
                max-height: 100%;
                padding: 10px;
                pointer-events: none
            }
        }
    }
    
    .parallax__index{
        max-width: 100%;
        max-height: 400px;
    }

    .section__two{
        display: flex;
        flex-direction: column;
        margin-top: 20%;
        margin-bottom: 10%;
        max-width: 100%;
        article{
            div{
                h2{
                    margin-left: 10px;
                }
                p{
                    width: 100%;
                    padding: 10px;
                }
            }
        }
        div{
            img{
                border-radius: 20px;
                max-height: 400px;
                max-width: 100%;
                padding: 10px;
            }
            iframe{
                max-width: 95%;
                max-height: 80px;
            }
        }
    }
}

/* 1600px Index */
@media only screen and (min-width:769px) and (max-width:1610px){
    .section__one{
        flex-direction: column;
        max-width: 100%;
        margin-top: 100px;
        article{
            div{
                h1{
                    margin-left: 10px;
                }
                p{
                    width: 100%;
                    padding: 10px;
                }
            }
            img{
                max-width: 100%;
                max-height: 100%;
                padding: 10px;
                pointer-events: none
            }
        }
    }

    .section__two{
        flex-direction: column;
        margin-bottom: 5%;
        max-width: 100%;
        article{
            div{
                h2{
                    margin-left: 10px;
                }
                p{
                    width: 100%;
                    padding: 10px;
                }
            }
        }
        div{
            img{
                padding: 10px;
                border-radius: 20px;
                max-height: 400px;
                max-width: 100%;
            }
            iframe{
                max-width: 95%;
                max-height: 80px;
            }
        }
    }
}