@import "pages/variables";
@mixin sizes($width, $height){
    height: $height;
    width: $width;
}

/* Pagina Noticias */

.main__noticias h1{ 
    grid-area: noticias; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    color: $colorPpal;
    margin-top: 2%;

}

.section__noticias{
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    justify-items: center;
    grid-template-areas:
    "noticias noticias noticias"
    "ppal ppal ppal"
    "link1 link2 link3"
    "link4 link5 link6";
    h3{

        font-size: 18px;
        color:$colorPpal;
        text-align: justify;

    }
}


.ppal__noticias{
    grid-area: ppal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;

    h2{

        color: $colorPpal;
        font-size: 22px;

    }

    img{

        width: 600px;
        border-radius: 10px;

    }
}


.link1__noticias{
    grid-area: link1;
    display: flex;
    flex-direction: column-reverse;
    @include sizes(300px, 200px);
    justify-self: end;
    margin-bottom: 20%;

    img{
        
        width: 300px;
        height: 200px;
        border-radius: 10px;

    }
}


.link2__noticias{
    grid-area: link2;
    display: flex;
    flex-direction: column-reverse;
    @include sizes(300px, 200px);

    img{

        @include sizes(300px, 200px);
        border-radius: 10px; 

    }
}

.link3__noticias{
    grid-area: link3;
    display: flex;
    flex-direction: column-reverse;
    @include sizes(300px, 200px);
    justify-self: start;

    img{

        @include sizes(300px, 200px);
        border-radius: 10px; 

    }
}

.link4__noticias{
    grid-area: link4;
    display: flex;
    flex-direction: column-reverse;
    @include sizes(300px, 200px);
    justify-self: end;
    margin-bottom: 10%;

    img{

        @include sizes(300px, 200px);
        border-radius: 10px; 

    }
}

.link5__noticias{
    grid-area: link5;
    display: flex;
    flex-direction: column-reverse;
    @include sizes(300px, 200px);

    img{

        @include sizes(300px, 200px);
        border-radius: 10px; 

    }
}


.link6__noticias{
    grid-area: link6;
    display: flex;
    flex-direction: column-reverse;
    @include sizes(300px, 200px);
    justify-self: start;

    img{

        @include sizes(300px, 200px);
        border-radius: 10px;  

    }
}

/* 360px Noticias */
@media only screen and (max-width:360px){
    .section__noticias{
        display: grid;
        grid-template-areas:
        "noticias"
        "ppal"
        "link1"
        "link2"
        "link3"
        "link4"
        "link5"
        "link6";
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ppal__noticias img{
        max-width: 100%;
        border-radius: 10px;
        margin-bottom: 20%;
    }

    .link1__noticias{
        margin-bottom: 30%;
    }

    .link2__noticias{
        margin-bottom: 30%;
    }

    .link3__noticias{
        margin-bottom: 30%;
    }
    
    .link4__noticias{
        margin-bottom: 30%;
    }

    .link5__noticias{
        margin-bottom: 30%;
    }
    
    .link6__noticias{
        margin-bottom: 10%;
    }
}

/* 620px Noticias */
@media only screen and (min-width:361px) and (max-width:620px){
    .section__noticias{
        display: grid;
        grid-template-areas:
        "noticias"
        "ppal"
        "link1"
        "link2"
        "link3"
        "link4"
        "link5"
        "link6";
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ppal__noticias img{
        max-width: 100%;
        border-radius: 10px;
        margin-bottom: 20%;
    }

    .link1__noticias{
        margin-bottom: 30%;
    }

    .link2__noticias{
        margin-bottom: 30%;
    }

    .link3__noticias{
        margin-bottom: 30%;
    }
    
    .link4__noticias{
        margin-bottom: 30%;
    }

    .link5__noticias{
        margin-bottom: 30%;
    }
    
    .link6__noticias{
        margin-bottom: 10%;
    }
}




/* 768px Noticias */
@media only screen and (min-width:621px) and (max-width:768px){
    .section__noticias{
        display: grid;
        grid-template-areas:
        "noticias noticas"
        "ppal ppal"
        "link1 link2"
        "link3 link4"
        "link5 link6";
        justify-content: center;

    }

    .ppal__noticias img{
        max-width: 100%;
        border-radius: 10px;
        margin-bottom: 10%;
    }

    .link1__noticias{
        margin-bottom: 30%;
    }

    .link2__noticias{
        margin-bottom: 30%;
    }

    .link3__noticias{
        margin-bottom: 30%;
    }
    
    .link4__noticias{
        margin-bottom: 30%;
    }

    .link5__noticias{
        margin-bottom: 10%;
    }
    
    .link6__noticias{
        margin-bottom: 10%;
    }
}

/* 1024px Noticias */
@media only screen and (min-width:769px) and (max-width:1024px){
    .section__noticias{
        display: grid;
        grid-template-areas:
        "noticias noticas"
        "ppal ppal"
        "link1 link2"
        "link3 link4"
        "link5 link6";
        justify-content: center;

    }

    .ppal__noticias img{
        max-width: 100%;
        border-radius: 10px;
        margin-bottom: 10%;
    }

    .link1__noticias{
        margin-bottom: 30%;
    }

    .link2__noticias{
        margin-bottom: 30%;
    }

    .link3__noticias{
        margin-bottom: 30%;
    }
    
    .link4__noticias{
        margin-bottom: 30%;
    }

    .link5__noticias{
        margin-bottom: 10%;
    }
    
    .link6__noticias{
        margin-bottom: 10%;
    }
}